.comp-rodape {
    display: flex;
    background-color: #000;
    color: #fff;
    padding: 15px;

    .info {
        img {
            width: 200px;
        }
    }

    .contato {
        .telefone {
            display: flex;
            align-items: center;

            img {
                width: 60px;
                margin: 10px;
            }
        }
        .email {
            align-items: center;
            display: flex;

            img {
                width: 60px;
                margin: 10px;
            }
        }
    }
}