.pagina-sobre-nos {
    font-family: Arial, Helvetica, sans-serif;
    
    .sobre {
        background-color: #000;
        color: #fff;
        padding: 15px;

        .titulo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 10px;

            h1 {
                text-align: center;
                font-size: 35px;
            }

            hr {
                width: 150px;
                margin: 5px 0px;
            }
        }

        .conteudo {
            margin: 20px 10px;
            padding: 10px 20px;
            p {
                font-size: 22px;
            }
        }
    }

    .equipe {
        background-color: #C95624;
        padding: 25px 0px;

        .swiper-pagination-bullet {
            opacity: 1;
            background-color: #919191bb;
            padding: 6px;

            margin-top: 55px;
        }
        .swiper-pagination-bullet-active {
            background-color: #000;
        }

        .titulo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 15px;

            h1 {
                text-align: center;
                font-size: 35px;
            }

            hr {
                width: 150px;
                margin: 5px 0px;
                border-color: #000;
            }
        }

        .carrossel-equipe {
            width: 45%;

            .item {
                display: flex;
                justify-content: center;
                gap: 0px;

                img {
                    width: 250px;
                }
            }
        }
    }
}

@media (max-width: 580px) {}

@media (max-width: 768px) {}