.comp-cabecalho {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    img {
        width: 150px;
        margin-left: 20px;
    }

    .nav {
        display: flex;
        gap: 50px;
    }

    a {
        color: #fff;
        font-size: 20px;
        text-decoration: none;
    }
}

@media (max-width: 768px) {
    .comp-cabecalho {
        .nav {
            display: none;
        }
        .nav.open {
            display: flex;
            flex-direction: column;
            position: absolute;
            position: fixed;
            top: 0px;
            right: 0px;
            background-color: #C95624;
            width: 50%;
            height: 100%;
            gap: 30px;
            padding: 10px;
            box-shadow: 5px 5px 35px 0px;
            padding: 85px 5px;

            a {
                padding: 10px;
            }
            a:hover{
                background-color: #e66f3c;
            }
        }
        .menu-icon {
            cursor: pointer;
            padding: 10px;
            background-color: #C95624;
            border-radius: 5px;

            .menu {
                padding: 3px;
                width: 45px;
                border-radius: 10px;
                background-color: #fff;
                margin: 8px;
            }

            .menu.toggle {
                transform: rotate(45deg);
                position: absolute;
                position: fixed;
                top: 30px;
                right: 10px;
                background-color: #000;
            }
            .menu.toggle:nth-child(2) {
                opacity: 0;
            }
            .menu.toggle:nth-child(3) {
                transform: rotate(-45deg);
            }
        }
        .menu-icon:hover {
            text-transform: uppercase;
        }
    }
}