.pagina-landing-page {
    font-family: Arial, Helvetica, sans-serif;
    
    main {
        background-color: #C95624;
        width: 100%;

        #inicio {
            text-align: center;
            display: flex;
            background-color: #000;
            justify-content: space-evenly;
            align-items: center;
            padding: 80px 25px;
            flex-wrap: wrap;

            img {
                width: 400px;
                height: 350px;
                margin: 10px;
                box-shadow: #C95624 10px 10px;
            }

            .texto {
                padding: 20px;
                width: 560px;

                h1 {
                    font-size: 50px;
                    color: #C95624;
                }
                p {
                    font-size: 30px;
                    color: #fff;
                }
            }
        }

        #sobre {
            text-align: center;
            padding: 100px 10px;

            h1 {
                font-size: 30px;
            }
            p {
                font-size: 25px;
            }
        }

        #vantagens {
            h1 {
                text-align: center;
                font-size: 30px;
            }

            .vantagens {
                justify-content: center;
                display: flex;
                flex-wrap: wrap;
                text-align: center;
                gap: 30px;
                padding: 20px;
    
                .bloco{
                    padding: 10px;
                    align-items: center;
                    justify-content: center;
                    width: 350px;
    
                    img {
                        width: 130px;
                    }
                    h3 {
                        padding: 5px;
                    }
                    p{
                        font-size: 20px;
                    }
                }
            }
        }
    }
}


@media (max-width: 580px) {
    .pagina-landingpage {
        main {
            #inicio {
                display: block;
                padding: 25px 10px;

                img {
                    width: 300px;
                    height: 280px;
                }
                .texto {
                    width: 100%;
                    p {
                        font-size: 22px;
                    }
                }
            }
            #sobre {
                padding: 35px 10px;

                p {
                    font-size: 22px;
                }
            }

            #vantagens {
                padding: 35px 5px;
            }
        }
    }
}

@media (max-width: 768px) {
    .pagina-landingpage {
        main {
            #inicio {
                flex-direction: column;

                .texto {
                    text-align: center;
                }
            }
        }
    }
}